In [5]:
import numpy as np
import pandas as pd
import csv

In [9]:
postcode = []

with open('salary.csv','r',encoding='utf-8-sig') as file1:
    reader1 = csv.reader(file1)
    for row1 in reader1:
#         print(row1)
        with open('condensed.csv','r') as file2:
            reader2 = csv.reader(file2)
            for row2 in reader2:
                if row1[0]==row2[0]:
                    print(row1, row2)
                    postcode.append(row2[1])

['E1400', '23451', '21456'] ['E1400', 'AB1 3HJ']
['E1401', '23123', '22345'] ['E1401', 'AB2 8YU']
['E1400', '15674', '13232'] ['E1400', 'AB1 3HJ']
['E1403', '21001', '20143'] ['E1403', 'FG6 2ER']
['E1401', '23321', '23001'] ['E1401', 'AB2 8YU']
['E1405', '25342', '24001'] ['E1405', 'CV4 8GD']
['E1406', '25532', '24512'] ['E1406', 'SD3 4NM']

In [11]:
salary = pd.read_csv('salary.csv', names=('ID', 'median', 'mean'))
print(salary)

      ID  median   mean
0  E1400   23451  21456
1  E1401   23123  22345
2  E1400   15674  13232
3  E1403   21001  20143
4  E1401   23321  23001
5  E1405   25342  24001
6  E1406   25532  24512

In [12]:
salary['postcode'] = np.array(postcode)

In [13]:
salary

      ID  median   mean postcode
0  E1400   23451  21456  AB1 3HJ
1  E1401   23123  22345  AB2 8YU
2  E1400   15674  13232  AB1 3HJ
3  E1403   21001  20143  FG6 2ER
4  E1401   23321  23001  AB2 8YU
5  E1405   25342  24001  CV4 8GD
6  E1406   25532  24512  SD3 4NM

In [10]:
with open('condensed.csv','r') as infile:
    reader = csv.reader(infile)
    for row in reader:
        print(row)

['E1400', 'AB1 3HJ']
['E1401', 'AB2 8YU']
['E1402', 'CV1 8GT']
['E1403', 'FG6 2ER']
['E1404', 'CK1 6KK']
['E1405', 'CV4 8GD']
['E1406', 'SD3 4NM']
['E1407', 'AB1 3HJ']
['E1408', 'CV4 8GD']
['E1409', 'AB2 8YU']
['E1410', 'FG6 2ER']

In [13]:
row[0]

'E1410'

In [8]:
with open('salary.csv','r') as file1:
    for t in file1:
        with open('condensed.csv','r') as file2:
            for row in csv.reader(file2):
                print(row)
            entry = [row for row in csv.reader(file2) if row[1].lstrip().rstrip() == t.lstrip().rstrip()]
            print(entry)

['E1400', 'AB1 3HJ']
['E1401', 'AB2 8YU']
['E1402', 'CV1 8GT']
['E1403', 'FG6 2ER']
['E1404', 'CK1 6KK']
['E1405', 'CV4 8GD']
['E1406', 'SD3 4NM']
['E1407', 'AB1 3HJ']
['E1408', 'CV4 8GD']
['E1409', 'AB2 8YU']
['E1410', 'FG6 2ER']
[]
['E1400', 'AB1 3HJ']
['E1401', 'AB2 8YU']
['E1402', 'CV1 8GT']
['E1403', 'FG6 2ER']
['E1404', 'CK1 6KK']
['E1405', 'CV4 8GD']
['E1406', 'SD3 4NM']
['E1407', 'AB1 3HJ']
['E1408', 'CV4 8GD']
['E1409', 'AB2 8YU']
['E1410', 'FG6 2ER']
[]
['E1400', 'AB1 3HJ']
['E1401', 'AB2 8YU']
['E1402', 'CV1 8GT']
['E1403', 'FG6 2ER']
['E1404', 'CK1 6KK']
['E1405', 'CV4 8GD']
['E1406', 'SD3 4NM']
['E1407', 'AB1 3HJ']
['E1408', 'CV4 8GD']
['E1409', 'AB2 8YU']
['E1410', 'FG6 2ER']
[]
['E1400', 'AB1 3HJ']
['E1401', 'AB2 8YU']
['E1402', 'CV1 8GT']
['E1403', 'FG6 2ER']
['E1404', 'CK1 6KK']
['E1405', 'CV4 8GD']
['E1406', 'SD3 4NM']
['E1407', 'AB1 3HJ']
['E1408', 'CV4 8GD']
['E1409', 'AB2 8YU']
['E1410', 'FG6 2ER']
[]
['E1400', 'AB1 3HJ']
['E1401', 'AB2 8YU']
['E1402', 'CV1 8GT']
['E1403', 'FG6 2ER']
['E1404', 'CK1 6KK']
['E1405', 'CV4 8GD']
['E1406', 'SD3 4NM']
['E1407', 'AB1 3HJ']
['E1408', 'CV4 8GD']
['E1409', 'AB2 8YU']
['E1410', 'FG6 2ER']
[]
['E1400', 'AB1 3HJ']
['E1401', 'AB2 8YU']
['E1402', 'CV1 8GT']
['E1403', 'FG6 2ER']
['E1404', 'CK1 6KK']
['E1405', 'CV4 8GD']
['E1406', 'SD3 4NM']
['E1407', 'AB1 3HJ']
['E1408', 'CV4 8GD']
['E1409', 'AB2 8YU']
['E1410', 'FG6 2ER']
[]
['E1400', 'AB1 3HJ']
['E1401', 'AB2 8YU']
['E1402', 'CV1 8GT']
['E1403', 'FG6 2ER']
['E1404', 'CK1 6KK']
['E1405', 'CV4 8GD']
['E1406', 'SD3 4NM']
['E1407', 'AB1 3HJ']
['E1408', 'CV4 8GD']
['E1409', 'AB2 8YU']
['E1410', 'FG6 2ER']
[]